### Content Based Recommendation System

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np

### Read the Dataset `movies_metadata.csv`

In [3]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Recomendation_System_Ext-LAB/movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

### Create a new column with name 'description' combining `'overview' and 'tagline'` columns in the given dataset

In [0]:
df['description'] = df['overview']+ " "+ df['tagline']

In [6]:
df.head(2)

   adult  ...                                        description
0  False  ...                                                NaN
1  False  ...  When siblings Judy and Peter discover an encha...

[2 rows x 25 columns]

In [7]:
df.shape

(45466, 25)

### Lets drop the null values in `description` column

In [8]:
df1 = df[pd.notnull(df['description'])]
df1.head()

   adult  ...                                        description
1  False  ...  When siblings Judy and Peter discover an encha...
2  False  ...  A family wedding reignites the ancient feud be...
3  False  ...  Cheated on, mistreated and stepped on, the wom...
4  False  ...  Just when George Banks has recovered from his ...
5  False  ...  Obsessive master thief, Neil McCauley leads a ...

[5 rows x 25 columns]

In [28]:
df1.isnull().sum()

adult                        0
belongs_to_collection    16939
budget                       0
genres                       0
homepage                 15258
id                           0
imdb_id                      4
original_language            0
original_title               0
overview                     0
popularity                   0
poster_path                 15
production_companies         0
production_countries         0
release_date                14
revenue                      0
runtime                      0
spoken_languages             0
status                      13
tagline                      0
title                        0
video                        0
vote_average                 0
vote_count                   0
description                  0
dtype: int64

From the above output we confirmed that there is no nul values in the description column.

In [9]:
df1.shape

(20404, 25)

### Keep the first occurance and drop duplicates of each title in column `title`

In [10]:
df1.drop_duplicates(subset ="title", keep = "first", inplace=True)
df1["title"].value_counts().head(25)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Home in Oklahoma                                                  1
Female Yakuza Tale                                                1
After the Fox                                                     1
LEGO DC Comics Super Heroes: Justice League vs. Bizarro League    1
West of the Divide                                                1
Jarhead                                                           1
Clash of the Titans                                               1
The Mikado                                                        1
Beautiful Boy                                                     1
Snakeman                                                          1
Texas Across the River                                            1
Auntie Mame                                                       1
Timebomb                                                          1
Burzynski, the Movie                                              1
A Secret                                                          1
The Admirable Crichton                                            1
Wolf Girl                                                         1
Twins                                                             1
Hacksaw Ridge                                                     1
Bel Ami                                                           1
Croupier                                                          1
Fresh Horses                                                      1
Separation City                                                   1
The Tiger and the Snow                                            1
Villa Amalia                                                      1
Name: title, dtype: int64

In [11]:
df1.shape

(19437, 25)

### As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [12]:
df1.reset_index(inplace = True, drop = True)
df1.head()

   adult  ...                                        description
0  False  ...  When siblings Judy and Peter discover an encha...
1  False  ...  A family wedding reignites the ancient feud be...
2  False  ...  Cheated on, mistreated and stepped on, the wom...
3  False  ...  Just when George Banks has recovered from his ...
4  False  ...  Obsessive master thief, Neil McCauley leads a ...

[5 rows x 25 columns]

### Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english', min_df = 0)

In [15]:
tf_idf_vect.fit(df1['description'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=0, ngram_range=(1, 3), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [0]:
description_matrix = tf_idf_vect.transform(df1["description"])

In [17]:
description_matrix.shape

(19437, 1148839)

### create cosine similarity matrix

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

In [0]:
cosine_sim_movies = cosine_similarity(description_matrix)

In [20]:
cosine_sim_movies.shape

(19437, 19437)

### Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

In [0]:
def recommend(title):
    title_id = df1.loc[df1['title']==title].index
    print("\nRecommended movies for", title, "\n")
    return df1['title'].iloc[np.flip(np.argsort(cosine_sim_movies[title_id[0],]), axis=0)[1:11]]

### Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [22]:
recommend("The Godfather")

Recommended movies for The Godfather

864      The Godfather: Part II
15874          Honor Thy Father
12008                The Family
12608                Blood Ties
3228                       Made
4000         Johnny Dangerously
26               Shanghai Triad
18496             Live by Night
5899                       Fury
18911    In Memory of My Father
Name: title, dtype: object

In [23]:
recommend("The Dark Knight Rises")

Recommended movies for The Dark Knight Rises

8087                        The Dark Knight
112                          Batman Forever
986                          Batman Returns
2330           Batman: Mask of the Phantasm
451                                  Batman
11899       Batman: Mystery of the Batwoman
9476             Batman: Under the Red Hood
6369     Batman Beyond: Return of the Joker
13487                     Batman vs Dracula
10503                      Batman: Year One
Name: title, dtype: object